@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --primary: #FED001;
    --neutral-dark: #2a2a2a;
}

html, body{
    min-height: 100vh;
    font-size: 62.5%;
}
body{
    display: flex;
    flex-flow: column nowrap;
}

.area_protection{
    max-width: 1440px;
    margin: 44px auto;
}

.header-main{
    background-color: var(--neutral-dark);
}

.header-main .area_protection{
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--neutral-dark);
    padding: 12px 64px;
}
.header-main-list{
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 12px;
}
.header-main-list li a{
    color: var(--primary);
    text-decoration: none;
    text-transform: uppercase;
    padding: 12px;
    border: 1px solid var(--primary);
    border-radius: 4px;
    transition-duration: 0.2s;
    font-size: 2.5em;
}
.header-main-list li a:hover{
    background-color: var(--primary);
    color: var(--neutral-dark);
}

/****************************/
.hero{
    background:linear-gradient(0deg, #FFEF61, #ffffff);
}
.hero .area_protection{
    display: flex;
    justify-content: space-around;
}
.hero img{
    width: 40%;
}
.hero .content h1{
    font-size: 7rem;
    line-height: 1.1;
    font-weight: 600;
}

.hero .content{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    width: 40%;
    gap: 24px;
    padding-left: 32px;
}
.button{
    padding: 12px 32px;
    background-color: var(--primary);
    color: var(--neutral-dark);
    border-radius: 6px;
    font-size: 2rem;
    text-decoration: none;
    transition-duration: 0.2s;
}

.button:hover{
    background-color: var(--neutral-dark);
    color: var(--primary);
}

.principais_cursos .area_protection{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.subtitulo{
    font-size: 4rem;
    text-align: center;
    margin: 40px;
}
.principais_cursos .cursos{
    display: flex;
    justify-content: center;
    gap: 32px;
    padding: 0px 64px;
}
.principais_cursos .cursos .curso{
    width: 28%;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid gray;
    margin-bottom: 32px;
    transition-duration: .4s;
}
.principais_cursos .cursos .curso:hover{
    width: 32%;
    cursor: pointer;
}
.principais_cursos .cursos .curso img{
    width: 100%;
}
.principais_cursos .cursos .curso h3{
    font-size: 2rem;
    margin: 12px;

}
.principais_cursos .cursos .curso p{
    font-size: 1.6rem;
    line-height: 1.6;
    padding: 0px 16px;
    margin: 0px auto 24px;
}

.nossa_escola{
    background-color: #003464;
}

.nossa_escola .area_protection{
    display: flex;
    color: white;
}
.nossa_escola img{
    width: 50%;
}

.nossa_escola .content{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 20px;
    padding: 64px;
}

.nossa_escola .content h2{
    font-size: 4rem;
}
.nossa_escola .content p{
    font-size: 1.6rem;
    line-height: 1.6;
}
.mapa{
    width: 960px;
    margin: 0px auto;
}
.mapa p{
    font-size: 1.6rem;
    text-align: right;
    margin: 32px 0px;
}
/****************************/

.footer-main{
    margin-top: 32px;
    padding: 16px;
    background-color: var(--neutral-dark);
    text-align: center;
    color: white;
    font-size: 2rem;
}
.footer-main a{
    color: var(--primary);
    text-decoration: none;
}
.footer-main a:hover{
    text-decoration: underline;
}
