@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

    --color-primary: rgb(99, 5, 128);
}

@media screen and (min-width: 50em) {
    .header_main {
        flex-direction: row;
        justify-content: space-between;
        padding: 1rem 2rem;
    }

    .header_main__navigation {
        width: auto;
    }

    .header_main__navigation__list {
        flex-direction: row;
        gap: 1.6rem;
        background-color: transparent;
    }
    .header_main__navigation__list li:not(.header_main__navigation__list li:last-child){
        border: none;
    }
    .header_main__navigation__list a {
        color: var(--color-primary);
    }
    .header_main__navigation__list a:hover {
        background-color: transparent;
    }
}